@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
    overflow-x: hidden;

}

.main {
    height: 100%;
    width: 100%;
    background-image: url("https://wallpapercave.com/wp/RHFKI0k.jpg");
    background-size: cover;
    background-position: center;
}

.nav {

    background-color: #11111186;

    height: 80px;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo {
    font-family: aloevera;
    font-size: 32px;

}

.nav i {
    font-size: 32px;
}

.menu {
    height: 100vh;
    background-color: #32313168;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 0;
    color: white;
    font-family: gilroy;
    padding: 160px 30px;
    align-items: center;
    gap: 10px;

}

@media (max-width: 768px) {
    .menu {
        right: -100%;
        width: 100%;

    }
}

@media (min-width: 768px) {
    .menu {
        right: -40%;
        width: 40%;
    }
}

.menu h1 {
    font-size: 50px;
    margin-left: 40px;
    font-weight: 500;
}

.menu i {
    top: 0%;
    left: 5%;

    color: white;
    font-size: 32px;
}


.home-page {
    height: 100%;
    width: 100%;



}

.text-card {
    color: white;

    font-family: "Roboto";


}

.home-welcome-msg {
    font-size: 22px;
}

.home-heading {
    font-size: 62px;
    font-weight: 500;
}

.home-description {
    font-size: 14px;

}

.journey-button {
    height: 60px;
    width: 180px;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    border-color: white;
    color: white;
    font-size: 18px;

}